$light-blue: rgb(57, 176, 245);
$medium-blue: rgb(58, 104, 189);
$dark-blue:rgb(9, 24, 58);
$light-blue2:#0099ff;
$light-pink: rgb(208, 116, 236);
$medium-pink: rgb(99, 17, 74);
$dark-pink:rgb(5, 3, 5);

$light-green: rgb(116, 236, 166);
$medium-green: rgb(22, 131, 31);
$dark-green:rgb(10, 34, 17);

$primary-font: 'Roboto',
sans-serif;
$title-font: 'Rajdhani',
sans-serif;

$primary-color: rgb(57, 176, 245);
$primary-color2: rgb(58, 104, 189);
$title-color: #222222;
$text-color: #777777;